@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) /* #000000 */;
}

#scrollbar-1::-webkit-scrollbar {
  width: 10px;
}

#scrollbar-1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
}

#scrollbar-1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #b2afaf;
}
